body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans JP", sans-serif;
  margin: 0 auto;
  background-color: #efefef;
}

.global-wrapper {
  background-color: #ffffff;
  width: 70vw;
  padding: 5%;
}

.container {
  border-top: none;
  border-style: none groove groove groove;
  border-radius: 5px;
  padding: 0px;
  background-color: rgb(228, 215, 215);
  width: 1100px;
}

.flex {
  display: flex;
  justify-content: space-around;
}

.header {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.acc-header {
  border-radius: 10px;
  margin-block-end: 0px;
  padding: 10px;
  padding-left: 15px;
  font-size: 40px;
  border: groove;
  color: rgb(216, 206, 206);
  background-color: rgb(59, 44, 44);
}

.tabs {
  background-color: rgb(228, 228, 228);
  margin: 30px;
  min-width: 500px;
  min-height: 150px;
  border-radius: 10px;
}

.saldo {
  font-size: 45px;
  padding-left: 30px;
  font-weight: bold;
}

.currencies {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  font-size: 25px;
}

h2 {
  padding-left: 20px;
  margin: 15px;
}

h6 {
  font-size: 25px;
}

.radiobuttons {
  display: flex;
  justify-content: space-around;
}

.tabs.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  padding: 15px;
}

.list:hover {
  display: flex;
  background-color: aqua;
}

.moveArrow {
  animation-name: mymove;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 1s;
}

@keyframes mymove {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(50px);
  }
}

.login-form {
  min-width: 20vw;
  padding: 15px;
  border-radius: 5px;
}

.emojipiggy {
  width: 60px;
  margin-left: 10px;
  margin-right: 65px;
}

.logoffbutton {
  border-radius: 7px;
}

.deletebutton {
  margin-left: 20px;
  border-radius: 5px;
}

.subbutton {
  margin: 5px;
  padding: 2px;
  border-radius: 5px;
}

.reg-btn {
  white-space: nowrap;
  text-align: center;
  width: 100%;
  padding: 0 15% 0 15%;
  border-radius: 2px;
  background-color: #e01b22;
  border-color: #e01b22;
  color: #ffffff;
}

.arrow-sign-btn {
  margin: 3%;
}
