body {
  margin: 30px 100px 100px 100px;
  background-color: rgb(230, 228, 228);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans JP", sans-serif;
}

.container {
  border-top: none;
  border-style: none groove groove groove;
  border-radius: 5px;
  padding: 0px;
  background-color: rgb(228, 215, 215);
  width: 1100px;
}

.flex {
  display: flex;
  justify-content: space-around;
}

.header {
  background-color: #7AC968;
  border-radius: 10px;
}

.acc-header {
  border-radius: 10px;
  margin-block-end: 0px;
  padding: 10px;
  padding-left: 15px;
  font-size: 40px;
  border: groove;
  color: rgb(216, 206, 206);
  background-color: rgb(59, 44, 44);
}

.tabs {
  background-color: rgb(228, 228, 228);
  margin: 30px;
  min-width: 500px;
  min-height: 150px;
  border-radius: 10px;
}

.saldo {
  font-size: 45px;
  padding-left: 30px;
  font-weight: bold;
}

.currencies {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  font-size: 25px;
}

h2 {
  padding-left: 20px;
  margin: 15px;
}

h6 {
  font-size: 25px;
}

.radiobuttons {
  display: flex;
  justify-content: space-around;
}

.tabs.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  padding: 15px;
}

.list:hover {
  display: flex;
  background-color: aqua;
}

.regbutton {
  margin-top: 10px;
}

.moveArrow {
  animation-name: mymove;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 1s;
}

@keyframes mymove {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(50px);
  }
}

.registrationpanel {
  background-color: rgb(180, 180, 180);
  padding: 15px;
  border-radius: 15px;
}

.loginpanel {
  background-color: rgb(180, 180, 180);
  padding: 15px;
  border-radius: 15px;
}

.emojipiggy {
  width: 60px;
  margin-left: 10px;
  margin-right: 65px;
}

.logoffbutton {
  border-radius: 7px;
}

.deletebutton {
  margin-left: 20px;
  border-radius: 5px;
}

.subbutton {
  margin: 5px;
  padding: 2px;
  border-radius: 5px;
}
